* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font: 20px/1  sans-serif;
  }


body {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.artists-button {
  border: 2px solid black;
}

header {
  width: 600px;
}