* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font: 20px/1  sans-serif;
  }


body {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.app-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artists-button {
  border: 2px solid black;
}

.artist-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  padding: .5rem;
  margin: .5rem;
  width: 12rem;
  /* max-width: 12rem; */
}

.artist-card__imageUrl{
  max-width: 10rem;
}

form {
  border: 2px solid black;
  padding: 1rem;
}

.artist-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}
 
header {
  width: 600px;
}

.artist-name-display {
  font-size: 24px;
  font: bolder;
  padding: 10px;
}

.album-card {
  padding: 4px;
}