* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font: 20px/1  sans-serif;
  }


body {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.artists-button {
  border: 2px solid black;
}

.artist-card {
  border: 2px solid black;
  padding: 1rem;
  margin: 3rem;
  max-width: 200px;
}

.artist-card__imageUrl{
  max-width: 10rem;
}

header {
  width: 600px;
}