* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  html {
    font: 20px/1  sans-serif;
  }

h6 {
  margin-bottom: 1rem;
}

body {
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
}

.album-name-display {
  text-decoration: underline;
  padding: 1rem;
  font-weight: 900;
}

.artist-name-display {
  text-decoration: underline;
  padding: 1rem;
  font-weight: 900;
}

.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.artists-button {
  border: 2px solid black;
}

.artist-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 2px solid black;
  padding: .5rem;
  margin: .5rem;
  width: 12rem;
}

.artist-cards {
  /* width: 90vw;
  max-width: 45rem; */
  width: 45rem;
}

.artist-card__imageUrl{
  max-width: 10rem;
}

form {
  border: 2px solid black;
  padding: 1rem;
  max-width: 45rem;
}

.artist-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-width: 100%;
}

header {
  /* width: 90vw;
  max-width: 45rem; */
  width: 45rem;
}

button {
  border: 2px solid black;
}